/*BoxModel.css*/

p {
    border: 4px red dotted; 
}

h2 {
    border-bottom-color: blue;
    border-bottom-width: 4px;
    border-bottom-style: double;
}

p {
    padding: 2em; /* distancia entre el border y el contenido */
    padding-right: 0;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: yellowgreen;
    background-image: url(flores.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
section {
    background-color: cyan;
}

img {
    border: 6px red double;
    padding: 4em;
    margin: 3em;

}
