 header {
     width: 70%;
     margin: auto;

     border: red 2px dotted;
     border-radius: 40px;
     padding: 2em;
     box-shadow: 20px 10px red;
 }

 header img {
     float: left;
     padding: 1em;
 }
aside {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    padding: 2em;
    background-image: url(../figuras/Limav-Movie-Genres-Folder-Film-Noir.128.png);
    background-repeat: repeat-x;
    padding-top: 128px;
    background-color: silver;
    
}

/* fuente */
@font-face {
    font-family: Krunky/* nombre que le damos a la fuente */;
    src: url(../fuentes/Kranky-Regular.ttf);
} 
 
h1::first-letter, h2::first-letter {
    font-family: Krunky;
    font-size: 3em;
    color: red;
}
