/*avanzados.css */

/* atributos */
abbr[title] {
    background-color: red;
}
[title="pendiente"]  {
    background-color: lightblue;
}
[title*="pendiente"]  {
    background-color: lightpink;
}
[href$=".pdf"]  {
    background-color: beige;
}

/* sibling */
h3 ~ h4 {
    background-color: lightpink;
}


/*adyacente*/
h1 + p {
    color: lightcyan;
}
h1 + p,
h2 + p {
    background-color: skyblue;
}

article h2 {
    color:burlywood;
}
/* hijo */
article p {
    color: red;
    text-align: center;
}
article p {
    color: blue;
    text-align: justify;
}